/* CSS Hoja de estilo. excel4.css */
a:link {
    color: darkgreen;
    text-decoration: none
}

a:visited {
    color: red
}

a:hover {
    color: darkviolet;
    font-weight: bold
}

a:active {
    color: yellowgreen;
}

ul {
    list-style-type: none
}

/* agregado en este ejercicio */
h1,
h2 {
    color: darkred
}

#recomendamos {
    font-style: italic
}

.resaltado {
    color: darkblue;
    font-weight: bold
}

h1:hover {
    color: green
}

ol .resaltado {
    color: darkmagenta;
}

div>p {
    text-indent: 15px
}