/* nuevas */
.title {
    text-shadow: 3px 2px 4px grey;    
    background-color: antiquewhite;
}


body {
    font-family: Verdana, sans-serif;
}

ul {
    list-style-type: none;
    font-family: Tahoma, sans-serif;
}

h2 {
    font-size: 20px;
}


ul h2 {
    font-size: 16px
}

h2,
ol {
    color: darkred;
  
}

.resaltado {
    font-weight: bold
}

div.resaltado {
    color: darkslategrey
}

p.resaltado {
    color: blueviolet
}

span {
    font-family: arial;
    text-decoration: underline
}

#sin_subrayar {
    text-decoration: none
}

a:link {
    text-decoration: none
}