/* CSS Hoja de estilo. aulafrontend_tablas.css */

table {
    width: 100%
}

table,
td {
    border-collapse: collapse;

    border-style: none
}

thead {
    text-align: center;

    background-color: beige
}

tbody {
    background-color: azure;

    text-align: center
}

tfoot {
    background-color: bisque;

    text-align: center
}

.opciones {

    background-color: #eee;

    width: 20%
}

.primera {

    width: 80%;

    font-size: 1.2em;

    color: darkred;

    font-weight: bold
}

h2 {
    color: blue
}

ul {
    list-style-type: none;

    font-weight: bold
}

a:link {
    text-decoration: none
}