/* CSS Hoja de estilo. excel5.css */
ul {
    list-style-type: none
}
.rectangulo1 {
    background-color: beige;
    color: green;
    border: 1px;
    border-style: solid;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 9px
}
.rectangulo2 {
    background-color: beige;
    color: green;
    border: 1px;
    border-style: solid;
    margin-top: 25px;
    background-image: url(../graficos/barra-repetida.png);
    height: 55px;
    background-repeat: repeat-x
}
.rectangulo3 {
    background-color: beige;
    color: green;
    border: 1px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    width: 75%
}